.footer {
  width: 100%;
  background-color: #8ed5b0;
  color: #f5f5dc;
  padding: 1rem 0;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  text-align: center;
  margin-top: auto;
}

.footer-text {
  margin: 0;
  font-size: 0.95rem;
}

.footer-icons {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.footer-icons a:hover svg {
  opacity: 0.8;
  transform: scale(1.05);
  transition: all 0.2s ease;
  cursor: pointer;
}
